.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: hsl(0, 96%, 50%);
}

table {
  color: rgb(48, 235, 11);
  border-radius: 8px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: hsl(197, 95%, 49%);
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}